html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h3{
  text-transform: capitalize;
  color: rgb(156,14,156);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 900px;
  height: 400px;
  background: #f1f1f1;
  margin: 30px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0px 1px 10px grey;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  background: white;
  color: #303030;
  font-weight: bold;
}
.tabs:not(:last-child){
  border-right: solid 1px #303030;
}

.active-tabs  {
  color: purple;
  box-shadow: 1px 1px 1px white;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 5px;
  background: purple;
}

button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
.contenu {
  display: none;
}
#box {
  display: flex;
  justify-content: center;
  width: 90%;
  background: #f1f1f1;
  margin: 30px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0px 1px 10px grey;
  padding: 2em;
}
#box-left {
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#formArticle {
  padding: 0 5em;
}
#formArticle input {
  margin: 15px 10px;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}
#content {
  height: 300px;
  width: 100%;
}
#article {
  display: flex;
  flex-direction: column;
  margin: 1em 20em;
  justify-content: center;
}
button:hover{
  cursor: pointer;
}
#title, #content, #tags {
  padding: 0.5em;
  border-radius: 10px;
  border: solid 1px purple;
}
#submitNewArt{
  background-color: purple;
  color: white;
  font-weight: bold;
  border: none;
  padding: 1em 2em;
  border-radius: 10px;
  width: 102%!important;
  margin-top: 1em;
}
#submitNewArt:hover{
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}
#listCategory {
  padding: 0;
}
.categoryAll {
  list-style-type: none;
  background-color: midnightblue;
  border-radius: 10px;
  margin: 0.5em 2em;
  padding: 0.5em;
  font-size: 40px;
  box-shadow: 1px 1px 10px #010101;
  color: white;
}
.categoryAll:hover {
  font-size: 42px;
  cursor: pointer;
}
#listeArticles {
  list-style-type: none;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
}
#listeArticles li {
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
  padding: 2em;
  color: black;
  margin: 2em;
}
#tags-input-container {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: rgb(220, 220, 220);
  width: 100%;
}
.tags {
  border: none;
  background-color: #f1f1f1;
  width: 80%!important;
}
.tag-item {
  background-color: rgb(199, 163, 199);
  display: inline-block;
  padding: 0.2em;
  border-radius: 20px;
}
.tag-item .close {
  color: #010101;
  font-weight: bolder;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
